@import url('fonts.css');
@import url('aos.css');


/* Global Styles */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
:root{
    --main-font: 'Noto Sans KR', sans-serif;
    --secondary-font: 'Noto Sans KR', cursive;
    --body-font: 'Noto Sans KR', sans-serif;
    --main-color: #fff;
    --secondary-color: #eee;
    --deselect-color : #878b90;
    --highlight-color: #007aff;
    --dark-color: #000;
    --bar-color : #131313;
    --btn-color: #fffc30;
}

[data-theme="dark"] {
    --main-color: #000;
    --secondary-color: #131313;
    --deselect-color : #878b90;
    --highlight-color: #007aff;
    --dark-color: #fff;
    --bar-color : #fff;
    --btn-color: #fffc30;
}

:target:before{
    content: "";
    display: block;
    height: 60px;          /* fixed header 높이 만큼 부여 or 브라우저 상단에서 띄워놓기 원하는 높이 */
    margin-top: -60px;     /* 위에서 설정한 높이와 동일한 만큼을 음수로 제공 */
    visibility: hidden;
  }

::selection{
    background : var(--highlight-color);
}

html {
    height: 100%;
    font-family: var(--body-font);
    font-size: 16px;
    color: var(--main-color);
    background: var(--dark-color);
    font-weight: 250;
}

body{
    overflow-x: hidden;
}

section{
    padding: 72px 0;
    min-height: 100vh;
    overflow:hidden;
    position : relative;
}

.container {
    width: 100%;
    max-width: 122.5rem;
    margin: 0 auto;
    padding: 0 2.5rem;
}

img{
    width: 100%;
    max-width: 100%
}

a{
    color:inherit;
    text-decoration: none;
}


a.disabled {
    pointer-events: none;
    color:var(--deselect-color);
}

p{
    font-size: 1.5rem;
}

.logo {
    background-image: url(/resource/img/common/logo.svg);
    width: 8rem;
    height: 1.875rem;
    fill: var(--main-color);
    background-size: contain;
    left: 2.5rem;
    top: 1.0625rem;
    position :absolute;
    right: auto;
    bottom: auto;
    display: block;
    text-indent: -10000px;
    font-size: 0;
    line-height: 0;
}

header .bar {
    text-align: center;
    background-color: var(--bar-color);
    color : var(--deselect-color);
    padding: 0 11.25rem;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    right: auto;
    bottom: auto;
    z-index: 10;
    height : 3.8rem;
}

.nav>li>a {
    font-size: 0.9rem;
}


/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
    display: flex;
    align-items: center;
  }
  .theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }
  
  .theme-switch input {
    display:none;
  }
  
  .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }
  
  input:checked + .slider {
    background-color: #66bb6a;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  

/* Media queries */

@media screen and (max-width: 900px) {
    header .bar nav .drawer, header .bar nav:before {
        height: 100vh;
        position: absolute;
        top: 0;
        left: auto;
        bottom: auto;
    }
    header .bar nav .drawer {
        width: 24rem;
        right: -24rem;
    }
    header .bar nav .drawer {
        width: 17.5625rem;
        background-color: #fff;
        right: -17.5625rem;
        -webkit-transition: right .5s;
        transition: right .5s;
        text-align: left;
    }
    header .bar nav .drawer .scroll-body {
        width: 100%;
        height: 100%;
        padding-top: 1.3125rem;
        padding-right: 1.5625rem;
        padding-bottom: 2.5rem;
        padding-left: 1.5625rem;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        overflow: auto;
        text-align: left;
    }
}

@media screen and (min-width: 900px) {
    header .bar nav .nav>* {
        display: inline-block;
        vertical-align: top;
    }

    .nav>li>a:hover, .lang a:hover{
        transition: color.5s;
        color: var(--main-color);
    }

    header .bar nav .nav>li {
        line-height: 2rem;
        font-weight: 400;
    }

    .nav>li {
        position: relative;
        padding: 1rem 2.5rem;
        margin: 0;
    }

    .lang {
        position: absolute;
        right: 2.5rem;
        top: 1rem;
        left: auto;
        bottom: auto;
    }

    .lang a {
        font-size: .7rem;
        font-weight : 300;
        margin-left: 1rem;
        line-height : 2rem;
    }
}